.App {
  border-style: none;
  font-family: "Raleway", sans-serif;
}

.Grid {
  display: grid;
  grid-template-areas: "side bookshelf";
  grid-template-columns: 20% 80%;
}

.Bookshelf {
  display: grid;
  grid-template-columns: minmax(80px, 1fr) minmax(80px, 1fr) minmax(80px, 1fr);
  grid-auto-flow: row;
  place-content: start center;
  grid-gap: 1em;
  /* background-color: #5bc0eb; */
  height: 100vh;
  grid-area: bookshelf;
  padding: 3vh 6vw;
}

.Sidebar {
  grid-area: side;
  background-color: #52528c;
}
