$primary: rgb(96, 219, 228);
$secondary: #d986ce;
$light: #f8f2f7;
$dark: #040680;
$success: #335938;
$danger: #8f483d;
$warning: #ffdd1f;
$info: #9bedfd;

.nav-link {
  font-size: 1.1em;
}

.edit {
  position: absolute;
  right: 5rem;
  top: 0;
  padding: 1rem 2rem;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem 2rem;
}

// IMport bootstrap at the bottom

@import '~bootstrap/scss/bootstrap.scss';
